<div class="jumbotron text-center ">

    <div class="container">
        <h1 style="color:var(--white);">My Projects' Flashcards.</h1>
        <p style="color:var(--white);">All I want to remember is written here!</p>
    </div>

</div>



<div class="container set-background">
    <div class="row">
        <div class="col-4">
            <div class="card mt-3 mb-3">
                <a href="/angular">
                    <img src="/assets/angularjs.png" class="card-img-top " alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-text text-center">Angular 8</h5>
                    <p class="card-text">I've learn Angular but it still unclear!, so I write all I feel is necessary to keep in my mind to become good Angular programer</p>

                </div>
            </div>
            <div class="card mtb-3">
                <a href="./calculus">
                    <img src="assets/calculo.png" class="card-img-top " alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-text text-center">Calculus...</h5>
                    <p class="card-text">Want to be more intelligent?, don't waste money and time swallowing pills, better study math!, the best way to achieve it.</p>

                </div>
            </div>
        </div>


        <div class="col-4">

            <div class="card mt-3">
                <a href="/machine">
                    <img src="/assets/machine learning.png" class="card-img-top " alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-text text-center">Machine Learning</h5>
                    <p class="card-text">If you're involved in science it's priority to learn artificial intelligence, in fact I do! so here you go my notes.</p>

                </div>

            </div>

            <div class="card mt-3 mb-3">
                <a href="/electronics">
                    <img src="/assets/electronic.png" class="card-img-top " alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-text text-center">Electronics</h5>
                    <p class="card-text">It's so much love to leave it, so once in a while I do something and write down here. Now you have my notes and projects</p>

                </div>
            </div>

        </div>


        <div class="col-4 ">
            <div class="card mt-3 mb-3">
                <a href="/idea">
                    <img src="/assets/idea.png" class="card-img-top " alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-text text-center">A little of everything</h5>
                    <p class="card-text">Some times I go out and shot a good photo, or repair something or watch a good film, anyway here is some of this</p>

                </div>
            </div>
            <div class="card mt-3 mb-3">
                <a href="/python">
                    <img src="/assets/python.png" class="card-img-top " alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-text text-center">Python, the future?</h5>
                    <p class="card-text">I don't know if Python is going to be useful or important in the next future but is clear, powerful and easy, try to learn!</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron text-center ">

    <div class="container">

        <p style="color:var(--white);">It is under construction, wait for more content</p>
    </div>

</div>